# >>> NexGenAds SSH START >>>

Host server
    HostName server.nexgenads.space
    User home
    ProxyCommand cloudflared access ssh --hostname %h

Host jenkins
    HostName jenkins.nexgenads.space
    User home
    ProxyCommand cloudflared access ssh --hostname %h

Host grafana
    HostName grafana.nexgenads.space
    User home
    ProxyCommand cloudflared access ssh --hostname %h

Host prometheus
    HostName prometheus.nexgenads.space
    User home
    ProxyCommand cloudflared access ssh --hostname %h

# <<< NexGenAds SSH END <<<
