# ==========================================================
# NexGenAds SSH Server Configuration
# ==========================================================
#
# Format:
# alias|hostname|username
#
# alias    = SSH shortcut name
# hostname = Cloudflare hostname
# username = SSH username
#
# Example:
# server|server.nexgenads.space|home
#
# After running setup:
#
# ssh server
# ssh jenkins
# ssh grafana
#
# ==========================================================

server|server.nexgenads.space|home
jenkins|jenkins.nexgenads.space|home
grafana|grafana.nexgenads.space|home
prometheus|prometheus.nexgenads.space|home
