{
  "annotations": {
    "list": []
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 1,
  "links": [],
  "panels": [
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 100,
      "title": "CPU",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "fillOpacity": 10,
            "lineWidth": 1
          },
          "max": 100,
          "min": 0,
          "unit": "percent"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 1
      },
      "id": 101,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "100 - (avg by (instance) (rate(node_cpu_seconds_total{mode=\"idle\"}[$__rate_interval])) * 100)",
          "legendFormat": "CPU usage {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "CPU Usage",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "percentunit"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 12,
        "y": 1
      },
      "id": 102,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "1 - (avg by (instance) (rate(node_cpu_seconds_total{mode=\"idle\"}[$__rate_interval])))",
          "legendFormat": "CPU idle {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "CPU Idle",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "short"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 18,
        "y": 1
      },
      "id": 103,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_load1{instance=\"$instance\"}",
          "legendFormat": "load1 {{ "{{instance}}" }}",
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_load5{instance=\"$instance\"}",
          "legendFormat": "load5 {{ "{{instance}}" }}",
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_load15{instance=\"$instance\"}",
          "legendFormat": "load15 {{ "{{instance}}" }}",
          "refId": "C"
        }
      ],
      "title": "Load Average",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "short"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 18,
        "y": 9
      },
      "id": 104,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "count(node_cpu_seconds_total{instance=\"$instance\", mode=\"idle\"})",
          "legendFormat": "CPU cores",
          "refId": "A"
        }
      ],
      "title": "CPU Cores",
      "type": "stat"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 17
      },
      "id": 105,
      "title": "Memory",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "fillOpacity": 10,
            "lineWidth": 1
          },
          "max": 100,
          "min": 0,
          "unit": "percent"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 18
      },
      "id": 106,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "(1 - (node_memory_MemAvailable_bytes{instance=\"$instance\"} / node_memory_MemTotal_bytes{instance=\"$instance\"})) * 100",
          "legendFormat": "Memory usage {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "Memory Usage",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 4,
        "x": 12,
        "y": 18
      },
      "id": 107,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_memory_MemTotal_bytes{instance=\"$instance\"}",
          "legendFormat": "Total memory {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "Total Memory",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 4,
        "x": 16,
        "y": 18
      },
      "id": 108,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_memory_MemTotal_bytes{instance=\"$instance\"} - node_memory_MemAvailable_bytes{instance=\"$instance\"}",
          "legendFormat": "Used memory {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "Used Memory",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 4,
        "x": 20,
        "y": 18
      },
      "id": 109,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_memory_MemAvailable_bytes{instance=\"$instance\"}",
          "legendFormat": "Available memory {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "Available Memory",
      "type": "stat"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 26
      },
      "id": 110,
      "title": "Disk",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "fillOpacity": 10,
            "lineWidth": 1
          },
          "max": 100,
          "min": 0,
          "unit": "percent"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 27
      },
      "id": 111,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "(1 - (node_filesystem_avail_bytes{mountpoint=\"/\", instance=\"$instance\", fstype!~\"tmpfs|overlay\"} / node_filesystem_size_bytes{mountpoint=\"/\", instance=\"$instance\", fstype!~\"tmpfs|overlay\"})) * 100",
          "legendFormat": "/ {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "Root Filesystem Usage",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 4,
        "x": 12,
        "y": 27
      },
      "id": 123,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_filesystem_size_bytes{mountpoint=\"/\", instance=\"$instance\", fstype!~\"tmpfs|overlay\"}",
          "legendFormat": "Total {{ "{{mountpoint}}" }}",
          "refId": "A"
        }
      ],
      "title": "Total Disk Space",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 4,
        "x": 16,
        "y": 27
      },
      "id": 124,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_filesystem_size_bytes{mountpoint=\"/\", instance=\"$instance\", fstype!~\"tmpfs|overlay\"} - node_filesystem_avail_bytes{mountpoint=\"/\", instance=\"$instance\", fstype!~\"tmpfs|overlay\"}",
          "legendFormat": "Used {{ "{{mountpoint}}" }}",
          "refId": "A"
        }
      ],
      "title": "Used Disk Space",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 4,
        "x": 20,
        "y": 27
      },
      "id": 112,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_filesystem_avail_bytes{mountpoint=\"/\", instance=\"$instance\", fstype!~\"tmpfs|overlay\"}",
          "legendFormat": "Available {{ "{{mountpoint}}" }}",
          "refId": "A"
        }
      ],
      "title": "Available Disk Space",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "fillOpacity": 10,
            "lineWidth": 1
          },
          "unit": "Bps"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": 35
      },
      "id": 113,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "rate(node_disk_read_bytes_total{instance=\"$instance\"}[$__rate_interval])",
          "legendFormat": "read {{ "{{device}}" }}",
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "rate(node_disk_written_bytes_total{instance=\"$instance\"}[$__rate_interval])",
          "legendFormat": "written {{ "{{device}}" }}",
          "refId": "B"
        }
      ],
      "title": "Disk I/O",
      "type": "timeseries"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 43
      },
      "id": 114,
      "title": "Network",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "fillOpacity": 10,
            "lineWidth": 1
          },
          "unit": "Bps"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 44
      },
      "id": 115,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "rate(node_network_receive_bytes_total{instance=\"$instance\", device!=\"lo\"}[$__rate_interval])",
          "legendFormat": "rx {{ "{{device}}" }}",
          "refId": "A"
        }
      ],
      "title": "Network Receive",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "fillOpacity": 10,
            "lineWidth": 1
          },
          "unit": "Bps"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 44
      },
      "id": 116,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "rate(node_network_transmit_bytes_total{instance=\"$instance\", device!=\"lo\"}[$__rate_interval])",
          "legendFormat": "tx {{ "{{device}}" }}",
          "refId": "A"
        }
      ],
      "title": "Network Transmit",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "fillOpacity": 10,
            "lineWidth": 1
          },
          "unit": "cps"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 52
      },
      "id": 117,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "rate(node_network_receive_errs_total{instance=\"$instance\", device!=\"lo\"}[$__rate_interval])",
          "legendFormat": "rx-err {{ "{{device}}" }}",
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "rate(node_network_transmit_errs_total{instance=\"$instance\", device!=\"lo\"}[$__rate_interval])",
          "legendFormat": "tx-err {{ "{{device}}" }}",
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "rate(node_network_receive_drop_total{instance=\"$instance\", device!=\"lo\"}[$__rate_interval])",
          "legendFormat": "rx-drop {{ "{{device}}" }}",
          "refId": "C"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "rate(node_network_transmit_drop_total{instance=\"$instance\", device!=\"lo\"}[$__rate_interval])",
          "legendFormat": "tx-drop {{ "{{device}}" }}",
          "refId": "D"
        }
      ],
      "title": "Network Errors / Dropped",
      "type": "timeseries"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 60
      },
      "id": 122,
      "title": "System",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "s"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 0,
        "y": 61
      },
      "id": 118,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "time() - node_boot_time_seconds{instance=\"$instance\"}",
          "legendFormat": "Uptime {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "Uptime",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "short"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 6,
        "y": 61
      },
      "id": 119,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_load15{instance=\"$instance\"}",
          "legendFormat": "load15 {{ "{{instance}}" }}",
          "refId": "A"
        }
      ],
      "title": "Load Average (15m)",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "short"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 12,
        "y": 61
      },
      "id": 120,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_uname_info{instance=\"$instance\"}",
          "legendFormat": "hostname {{ "{{nodename}}" }}",
          "refId": "A"
        }
      ],
      "title": "Hostname",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "{{ grafana_prometheus_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "short"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 18,
        "y": 61
      },
      "id": 121,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ grafana_prometheus_datasource_uid }}"
          },
          "expr": "node_uname_info{instance=\"$instance\"}",
          "legendFormat": "kernel {{ "{{machine}}" }} {{ "{{release}}" }}",
          "refId": "A"
        }
      ],
      "title": "Kernel",
      "type": "stat"
    }
  ],
  "refresh": "30s",
  "schemaVersion": 39,
  "tags": [
    "server",
    "monitoring",
    "prometheus"
  ],
  "templating": {
    "list": [
      {
        "current": {
          "selected": false,
          "text": "All",
          "value": "$__all"
        },
        "datasource": {
          "type": "prometheus",
          "uid": "{{ grafana_prometheus_datasource_uid }}"
        },
        "definition": "label_values(node_uname_info, instance)",
        "hide": 0,
        "includeAll": true,
        "multi": true,
        "name": "instance",
        "options": [],
        "query": {
          "query": "label_values(node_uname_info, instance)",
          "refId": "A"
        },
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 1,
        "type": "query"
      }
    ]
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "browser",
  "title": "Server Metrics",
  "uid": "{{ grafana_server_metrics_dashboard_uid }}",
  "version": 1,
  "weekStart": ""
}
